{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">About</h1>
        
        <div class="mb-4">
            <p>
                Hey there! Thanks so much for visiting this website. It hasn’t always looked like this—
                before diving into web development, I used a Python library called <strong>Streamlit</strong>
                to build and display my projects. I stuck with that framework for a couple of weeks until I
                decided to level up and transition to more robust and flexible tools.
            </p>
            <p>
                That step-up brought me to <strong>Flask</strong>, and this website is the result of that journey.
                In fact, here's what the coding journal looked like when I was still using Streamlit:
            </p>
        </div>

        <div class="text-center">
            <img src="{{ url_for('static', filename='images/coding_journal_old.webp') }}" 
                 alt="Coding Journal using Streamlit"
                 class="img-fluid rounded shadow"
                 style="max-width: 100%; height: auto;">
        </div>

        <br>

        <div class="mb-4">
            <p>
                This project took me five days to finish. Obviously, there are still some important features that I am forgetting to add I know. I have some features that I am desperate to add here on my project but I just couldn't wrap my head around it, and inevitably accepting that I have done enough of this project that I'm building. It's time to move on to the next one that is even better than what we have done. Though it kind of stings me to not going all-out and really spend in the time to actually add those features - it's alright, I have done what I can do from this.
            </p>
            <p>
                Of course, I am not saying that this project is done forever. I still have that desire to improve this and better than before, and for that reason I'm gonna need you to tell me that I have to get back and do something on these. Tell my future self that there is something you wnt to have in this project that I had done. I will leave you a contact at the bottom of the page for you to reach him out. Leave a comment while you're at it as well.
            </p>
            <p>Anyways, that is going to wrap this up. <strong>Thanks for visiting</strong></p>
        </div>
    </div>
{% endblock %}