<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a href="#"><span class="material-symbols-outlined">close</span></a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <ul>
            <li><a href="#">CodingJourn</a></li>
            <li class="hideOnMobile"><a href="#">Create</a></li>
            <li class="hideOnMobile"><a href="#">Logout</a></li>
            <li class="hideOnMobile"><a href="#">About</a></li>
            <li class="menu-button" onclick="showSidebar()"><a href="#"><span class="material-symbols-outlined">menu</span></a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <script>
        function showSidebar(){
            const sidebar = document.querySelector(".sidebar")
            sidebar.style.display = "flex"
        }
        function hideSidebar(){
            const sidebar = document.querySelector(".sidebar")
            sidebar.style.display = "none"
        }
    </script>

</body>
</html>