{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center" id="page-title">CodingJourn</h1>

    <div class="search-wrapper">
        <div class="search-container">
            <input type="text" id="search-box" placeholder="Search...">
            <button id="search-btn" onclick="search()">Search</button>
        </div>
        <div class="btn-group ms-2">
            <button class="btn btn-primary dropdown-toggle" type="button" id="search-filter" data-bs-toggle="dropdown" aria-expanded="false">Filter by</button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="search-filter">
                <li><a class="dropdown-item" href="#">Last three days</a></li>
                <li><a class="dropdown-item" href="#">Last week</a></li>
                <li><a class="dropdown-item" href="#">Last month</a></li>
            </ul>
        </div>
    </div>

    <div id="journals" class="container">
        {% for journal in journals|reverse %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="/journ/{{ journal.user.username }}">{{ journal.user.username }}</a>
                    {% if user.id == journal.author %}
                        <div class="dropdown">
                            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton{{ journal.id }}" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ journal.id }}">
                                <li><a href="/delete/{{ journal.id }}" class="dropdown-item"><span class="material-symbols-outlined">delete</span></a></li>
                                <li><a href="/update/{{ journal.id }}" class="dropdown-item"><span class="material-symbols-outlined">update</span></a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5>{{ journal.title }}</h5>
                    <p class="card-text" id="journal-content">{{ journal.content }}</p>
                    <div class="card-footer text-muted">
                        {{ journal.date_created }}
                    </div>
                    <i><b>Keywords: </b></i><u>{{ journal.keywords }}</u></i>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}