{% extends 'base.html' %}
{% block content %}
    <form method="post" class="container">
        <h3 align="center">
            Login
        </h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter email...">
            <label for="password">Password</label>
            <div class="password-container" align="center">
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password...">
            </div>
            <br>
            <div align="center">
                <button class="btn btn-primary" type="submit" id="check_password">login</button>
            </div>
        </div>
    </form>
    <div align="center">
        <a href="/sign-up">Create an account...</a>
    </div>
{% endblock %}