{% extends 'base.html' %}
{% block content %}
    <form method="post" class="container">
        <h3 align="center">
            Sign-up
        </h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Enter email..." required>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username..." required>

            <label for="password1">Password</label>
            <input type="text" id="password1" name="password1" class="form-control" placeholder="Enter password..." required>

            <label for="password2">Password Again</label>
            <input type="text" id="password2" name="password2" class="form-control" placeholder="Enter password again..." required>

            <div align="center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}